.logo{
  max-width: 20px;
}
.navLink{
  font-weight: 600;
  padding:10px 8px;
  color: #14302E;
}
.banner{
  background: url(../images/images/bannerBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  height:105vh;
}
.bannerContent{
  display: flex;
  align-items: center;
  height: 90vh;
}
.bannerH2{
  max-width: 1000px;
  margin-top: 10vh;
  font-weight: 600;
  color: #fff !important;
  font-size: 75px;
}
.feature{
  padding: 3vh 20px;
}
.featureH2{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 600;
}
.featureP{
  font-size: 22px;
  font-weight: 500;
}
.carouselBtn{
  background-color: white;
  border-radius: 44px;
  max-width: 80px;
  margin-top: 35px;
}
.featureSliderP{
  margin-top: 5px;
  font-size: 20px;
  font-weight: 600;
}
.projectsH2{
margin-top: 5vh;
margin-bottom: 0;
font-size: 35px;
font-weight: 600;
}
.projectP{
  display: flex;
  margin-top: 0;
  align-items: center;
  color: #1B39F6;
  font-weight: 600;
}
.projectIcon{
  padding: 6px 10px;
  border-radius: 50%;
  background-color: #1B39F6;
  margin-left:10px ;
  color: white;
}
.figure figcaption p{
  display: none;
  transition: .4s;
}
.figure:hover figcaption p{
  display: block;
}
.chooseH2{
  font-size: 38px;
  margin: 3vh 0;
}
.chooseSubH3{
  font-weight: 600;
  margin: 0;
  font-size: 25px;
}
.chooseP{
  font-size: 16px;
  margin-top: 0;
  font-weight: 500;
}
.ContactBackground{
  background: url(../images/images/image4.jpg);
  background-size: cover;
  height: 43vh;
  display: flex;
  align-items: center;
}
.contactH2{
font-size: 45px;
max-width: 870px;
font-weight: 600;
color: white;
}
.footer{
  background-color: #14302E;
  padding: 21px;
  color: white;
  border-top: 1px solid white;
}
.footerSubSection{
  display: flex;
  align-items: center;
}
.footerSubSection div{
  margin: 10px 10px 10px 0;
}
.footerSubSection p{
  margin: 0;
  font-weight: 500;
}
.footerBottomSection{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.footerBottomSection div{
  display: flex;
}
.footerBottomSection div p{
  padding: 0 10px;
}



@media only screen and (max-width: 900px){
  .banner{
    height: 50vh;
  }
  .bannerContent{
    height: 30vh;
  }
  .bannerH2{
    font-size: 55px;
    margin-top: 10vh;
  }
.featureH2,.contactH2{
  font-size: 32px;
  }
  .featureP{font-size: 20px}
  .carouselBtn{
    display: none;
  }
  .projectsH2,.chooseH2{
    font-size: 32px;
  }
  .chooseSubH3{
    font-size: 20px;
  }
  .chooseP{font-size: 16px;}
}
@media only screen and (max-width: 768px){
  .bannerH2{
    font-size: 47px;
  }
  .feature{
    padding: 5vh 16px;
  }  
  .featureH2,.contactH2{
    font-size: 27px;
  }
  .featureP{font-size: 17px;}
  .projectsH2,.chooseH2{
    font-size: 28px;
  }
  .chooseSubH3{
    font-size: 17px;
  }
  .chooseP{
    font-size: 15px;
  }
}
@media only screen and (max-width: 500px){
  .bannerH2{
    font-size: 38px;
  }
  .featureH2,.contactH2{
    font-size: 22px;
  }
  .projectsH2,.chooseH2{
    font-size: 22px;
  }
  .chooseSubH3{
    font-size: 15px;
  }
}